<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="season">
            <h2><span>Season</span> {{season.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{season.year}}</span>
                </dd>
                <dt><span>Rules</span></dt>
                <dd>
                    <div *ngIf="season.rules">
                        <a [routerLink]="['/rules', season.rules?.id, 'view']">{{season.rules?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/season', season.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
